.header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  margin-bottom: 2vh;
  text-align: center;
}
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
  height: 400px;
}
.toolbar-class {
  border: none
}
.draft_editor {
  max-width: 500px;
}
.rdw-block-wrapper,
.rdw-dropdown-wrapper .rdw-block-dropdown,
.rdw-fontsize-wrapper,
.rdw-fontfamily-wrapper,
.rdw-text-align-wrapper,
.rdw-list-wrapper {
  display: inline-flex;
}
