.layout {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 2rem;   
}

.right_side {
    min-width: 25%;
}

.left_side {
    padding-right: 1rem;
}

@media (max-width:991px) {
    .right_side {
        display: none;
    }

    .left_side {
        width: 100%;
        padding-right: 0;
    }
}